<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kickball League</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>League of Cool Kickball Professionals</h1>

    <ul>
    <% @teams.each do |team| %>
        <li><a href="/<%= team %>"><%= team %></a></li>
      <% end %>
    </ul>

  </body>
</html>
